.dashboard-main{
    display: flex;
    flex-direction: column;

}

.dashboard-title{
    margin-top: 40px;
    margin-bottom: 40px;
}

.dashboard-button {
    background-color: slateblue;
    color: whitesmoke;
  }