.player-main {
    display: flex;
    flex-direction: column;
}
  
  .media-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .song-cover-image {
    height: 200px;
    width: 200px;
  }
  
  .player-button {
    background-color: slateblue;
    color: whitesmoke;
  }
  
  .song-player-title {
    font-size: 1.5em;
    margin-bottom: 40px;
  }
  .seek-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .cover-image{
    padding-left: 20px;
    padding-right: 20px;
  }
  .border-boxed{
    border: 1px slateblue solid;
  }
  